form {
    margin-top:3rem;
}

form input[name='city'],
form input[name='country'] {
    background-color:transparent;
    color:white !important;
    margin-bottom:1em;
    border:0;
    border-bottom: 2px  solid whitesmoke;
    border-radius: 0;
}

form input:focus {
    background-color: transparent !important;
    box-shadow: none !important;

}

form input::placeholder {
    color:whitesmoke !important;
}

form .btn {
    color:whitesmoke;
    border-radius: 0;
    background: transparent;
    border:0;
    border-bottom: 2px  solid #dc3545;
}